<<<<<<< HEAD
ul {
  max-width: 500px;
  margin: auto;
  border: 30px;
  
}

.error {
	color: red;
=======
ul {
  max-width: 500px;
  margin: auto;
  border: 30px;
  
}

.error {
	color: red;
>>>>>>> 2f7d9fadc580410673e35d4ea32db23a3d87efb9
}